@model Escuela
@{
    ViewData["Title"] = "Infromación Escuela";
}

<h2>@ViewData["Title"]</h2>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año fundacion: @Model.AñoDeCreación</strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>

